header {
  background-color: #f9ae9d;
}
nav {
  background-color: rgb(238, 244, 206);
}
article {
  background-color: rgb(238, 244, 206);
}
aside {
  background-color: rgb(238, 244, 206);
}
footer {
  background-color: #f9ae9d;
}


